@import '../../../../constants/global.scss';

.tags_list__container {
  min-width: 264px;
  height: auto;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  padding: 12px;

  border: 1px solid $secondaryColor;
  border-radius: 18px;
}
