.course_card {
  min-width: 177px;

  display: flex;
  flex-direction: column;

  padding: 0;

  border-radius: 18px;
  box-shadow: 0px 10px 13px -4px var(--primaryBoxShadowColor);

  .card_img__container {
    width: 100%;
    min-height: 162px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 18px 18px 0 0;

    .card_img {
      width: 144px;
      height: 144px;
    }
  }

  .card_title__container {
    padding: 12px 18px 18px;

    line-height: 18px;
    background-color: var(--primaryBackgroundColor);
    border-radius: 0 0 18px 18px;
  }
}
